.main {
    border:  2px solid rgb(54,71,79);
    width: 285px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(29, 76, 97);
    border-radius: 15%;
    box-shadow: 1px 2px 2px;
}

.material{
    padding-top: 2px;
    padding-bottom: 17px;
}


.display{
    width: 100%;
    background-color: rgb(7, 51, 75);
    color: rgb(242,255,255);
    border-radius: 6%;
    height: 50px;
    margin-bottom: 10px;
}

.clearbtn{
    width: 38px;
    margin-top: 3px;
    margin-bottom: 2px;
    background-color: orangered;
    color: rgb(28, 29, 29);
    border-radius: 24%;
    box-shadow: 1px 2px 2px;
    margin-bottom: 4px;
}

.everybtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(98, 149, 175);
    color: rgb(242,255,255);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}


.funbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(176,191,196);
    color: rgb(0,0,19);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.eqlbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(40, 144, 182);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.bscbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(56, 117, 197);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.barbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(170, 175, 139);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.sqrbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(99, 75, 156);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.efunbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(47, 118, 233);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}

.rfunbtn{
    width: 38px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: rgb(49, 78, 117);
    color: rgb(233, 233, 243);
    border-radius: 24%;
    box-shadow: 0px 0px 1px;
    margin-bottom: 4px;
}